<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podziel Rachunek</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favv16.png' %}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </div>

        <section class="search-friend">
            <form method="POST" action="{% url 'search_user' %}">
                {% csrf_token %}
                <input type="text" name="username" placeholder="Nazwa użytkownika">
                <button type="submit"><img src="{% static 'img/search.png' %}" alt="szukanie"></button>
            </form>
        </section>

        <div class="user-profile">
            <img src="{% static 'img/profile.png' %}" alt="Profil">
            {% if request.user.is_authenticated %}
            <p>Cześć, {{ request.user.first_name }}</p>
            <input type="hidden" id="logged-in-user" value="{{ request.user.first_name }}">
            <a href="{% url 'logout' %}" class="logout-link">Wyloguj się</a>
            {% else %}
            <a href="{% url 'login' %}" class="login-link">Zaloguj się</a>
            {% endif %}
        </div>

        <div class="switch-container">
            <label class="switch">
                <input type="checkbox" id="theme-switch">
                <span class="slider round"></span>
            </label>
        </div>
    </header>
    <main>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                initializeEventListeners();
            });

            function initializeEventListeners() {
                $('#split-form').on('submit', function (event) {
                    event.preventDefault();
                    createSpill();
                });
            }

            function createSpill() {
                const amount = $('#amount').val();
                const tip = $('#tip').val();
                const selectedFriends = $('#selected-friends').children().map(function () {
                    return $(this).data('id');
                }).get();

                $.ajax({
                    url: '{% url "create_spill" %}',  // Make sure this URL matches your URLconf
                    type: 'POST',
                    data: {
                        'amount': amount,
                        'tip': tip,
                        'friends': selectedFriends,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function (response) {
                        $('#spill-results').html(response);
                    },
                    error: function (response) {
                        alert('Error creating spill');
                    }
                });
            }
        </script>

        <section class="split-request">
            <div class="request-card">
                <h3>Cześć Mike!</h3>
                <p>Rakib poprosił cię o płatność rachunku w wysokości 72,80 $ z Sushi & bar</p>
                <button>Uczestnicz</button>
            </div>

            <div class="create-spill">
                <h2>Create Spill</h2>
                <form id="split-form" action="#" method="POST">
                    {% csrf_token %}
                    <div id="selected-friends"></div>
                    <div class="form-group">
                        <label for="amount">Amount to Split:</label>
                        <input type="number" id="amount" name="amount" step="0.01" min="0" placeholder="Enter amount">
                    </div>
                    <div class="form-group">
                        <label for="tip">Tip (%):</label>
                        <input type="number" id="tip" name="tip" step="0.01" min="0" placeholder="Enter tip percentage">
                    </div>
                    <div id="split-details">
                        <!-- Sliders and input fields for participants will be generated here -->
                    </div>
                    <button type="button" id="choose-friends-button">Wybierz znajomych</button>
                    <button type="submit">Create Spill</button>
                </form>
                <div id="spill-results"></div>
            </div>

            <section class="friends-list">
                <div class="friends-container">
                    <h2>Lista znajomych</h2>
                    <div id="friends-list">
                        {% if friends %}
                        {% for friend in friends %}
                        <div draggable="true" id="friend-{{ friend.id }}">{{ friend.name }}</div>
                        {% endfor %}
                        {% else %}
                        <div>Brak znajomych.</div>
                        {% endif %}
                    </div>
                </div>
            </section>

            <div class="recent-splits">
                <h2>Ostatnie rozliczenia</h2>
                {% if participated_bills %}
                {% for bill in participated_bills %}
                <div class="split-item">
                    <h3>{{ bill.creator.username }}</h3>
                    <p>{{ bill.description }}</p>
                    <p>{{ bill.date }}</p>
                    <p>{{ bill.amount }}</p>
                </div>
                {% endfor %}
                {% else %}
                <div>Brak rozliczeń.</div>
                {% endif %}
            </div>

        </section>

        <!-- <section class="split-request2">
            <div class="statistics">
                <div class="stat-card">
                    <h3>Łączna Płatność</h3>
                    <p>440,00 $</p>
                </div>
                <div class="stat-card">
                    <h3>Zapłacone</h3>
                    <p>28,20 $</p>
                </div>
            </div>
        </section> -->
    </main>

    <div id="popup-container" style="display:none;">
        <div id="popup-content">
            <h2>Wybierz znajomych</h2>
            <ul id="popup-friends-list">
                {% if friends %}
                {% for friend in friends %}
                <li><input type="checkbox" name="friend" value="{{ friend.name }}"> {{ friend.name }}</li>
                {% endfor %}
                {% else %}
                <li>Brak znajomych.</li>
                {% endif %}
            </ul>
            <button id="close-popup">Zamknij</button>
        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeEventListeners();
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            initializeEventListeners();
        });

        function initializeEventListeners() {
            $('#split-form').on('submit', function (event) {
                event.preventDefault();
                createSpill();
            });
        }

        function createSpill() {
            const amount = $('#amount').val();
            const tip = $('#tip').val();
            const selectedFriends = $('#selected-friends').children().map(function () {
                return $(this).data('id');
            }).get();

            $.ajax({
                url: '{% url "create_spill" %}',  // Make sure this URL matches your URLconf
                type: 'POST',
                data: {
                    'amount': amount,
                    'tip': tip,
                    'friends': selectedFriends,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    $('#spill-results').html(response);
                },
                error: function (response) {
                    alert('Error creating spill');
                }
            });
        }
    </script>
</body>

</html>