<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podziel Rachunek</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favv16.png' %}">
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </div>
        <div class="search-bar">
            <input type="search" placeholder="Szukaj">
            <button><img src="{% static 'img/search.png' %}" alt="szukanie"></button>
        </div>

        <div class="user-profile">
            <img src="{% static 'img/profile.png' %}" alt="Profil">
            <p>Cześć, Rakib</p>
            <a href="{% url 'logout' %}" class="logout-link">Wyloguj się</a>
        </div>


        <div class="switch-container">
            <label class="switch">
                <input type="checkbox" id="theme-switch">
                <span class="slider round"></span>
            </label>
        </div>
    </header>
    <main>
        <section class="split-request">
            <div class="request-card">
                <h3>Cześć Mike!</h3>
                <p>Rakib poprosił cię o płatność rachunku w wysokości 72,80 $ z Sushi & bar</p>
                <button>Uczestnicz</button>
            </div>

            <div class="create-spill">
                <h2>Create Spill</h2>
                <form action="#">
                    <div class="form-group">
                        <label for="amount">Amount to Split:</label>
                        <input type="number" id="amount" name="amount" step="0.01" min="0" placeholder="Enter amount">
                    </div>
                    <div class="form-group">
                        <label for="participants">Participants:</label>
                        <div id="participant-list"></div>
                    </div>
                    <div id="split-details">
                        <!-- Suwaki dla uczestników zostaną wygenerowane tutaj -->
                    </div>
                    <button type="submit">Create Spill</button>
                </form>
                <div id="spill-results"></div>
            </div>

            <section class="friends-list">
                <div class="friends-container">
                    <h2>Lista znajomych</h2>
                    <ul id="friends-list">
                        <!-- Lista znajomych zostanie wygenerowana tutaj -->
                        <li>example</li>
                        <li>example</li>
                        <li>example</li>

                    </ul>
                </div>
            </section>

            <div class="recent-splits">
                <h2>Ostatnie rozliczenia</h2>
                <div class="split-item">
                    <h3>Tommy Gun</h3>
                    <p>Bar Kasturi, Sushi & Japońskie</p>
                    <p>55%</p>
                    <p>28,20 $</p>
                </div>
                <div class="split-item">
                    <h3>Harper Seven</h3>
                    <p>Bar i Grill</p>
                    <p>75%</p>
                    <p>28,20 $</p>
                </div>
            </div>


        </section>



        <section class="split-request2">
            <div class="statistics">
                <div class="stat-card">
                    <h3>Łączna Płatność</h3>
                    <p>440,00 $</p>
                </div>
                <div class="stat-card">
                    <h3>Zapłacone</h3>
                    <p>28,20 $</p>
                </div>
            </div>
        </section>
    </main>

    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>