<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <title>Podziel Rachunek {% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favv16.png' %}">

</head>

<body>
    <div class="center">
        <h1>Witaj!</h1>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Email Address</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <!-- <div class="forgot">Forgot Password</div> Funkcja do rozwinięcia-->
            <input type="submit" value="Login">
            <div class="users_signup">Don't have an account? <a href="{% url 'signup' %}">SignUp</a></div>
        </form>
    </div>
</body>

</html>